html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/* Inicio: estilos del header */

header{
    background: #263137;
    height: 64px;  
}
    
header img{
    width: 54px;
    height: 54px;
    margin-top: 5px;
    margin-left: 3px;
    float: left;
    border-radius: 50%;
}

#lblUsuario {
    color : #fff;
    margin-top: 2%;
    margin-left: 5px;
    font: inherit;
    z-index: 1;
    position: absolute;
    text-decoration: none;
}

.nav {
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: #37454d;
    font-family: 'Montserrat', sans-serif;
    transition: all .5s ease;
    right: -220px;
}
    
.nav__item {
    display: block;
    width: 100%;
    line-height: 3.9;
    text-align: center;
    color: #fff;
    text-decoration: none;  
}

.nav__item:hover{
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}
    
.menu-toogle {
    position: absolute;
    width: 35px;
    line-height: 1.2;
    text-align: center;
    top: 20px; 
    left: 1306px;
    transition: all .5s ease;    
}
    
.menu-toogle::before {     
    content: "☰";
    font: inherit;
    color: #fff;  
}
     
.checkbox {
    display: none;
}
    
.checkbox:checked ~ .nav {
    right: 0px; 
    position: fixed;  
}
    
.checkbox:checked ~ .main-w { 
    margin-left: 200px;  
}
    
.checkbox:checked ~ .menu-toogle {  
    left: 1114px;
    position: fixed;  
}

/* Fin: estilos del header */

/* Inicio: estilos del main */

main {
    background-color: #37454d;
    background-size: cover;
    height: max-content;
    min-height: 562px;
}

main section {
    float: center;
    margin: 0 auto;
    background-color: #dfe6e9;
    padding: 25px;
    padding-bottom: 56px;
    min-height: 440px;
    vertical-align: middle;
}

main h1 {
    padding-top: 10px;
    font-size: 36px;
    padding-bottom: 20px;
    text-align: center;
    color: #fff;
}

main label {
    display: inline-block;
    margin-right: 2.49%;
    color: #fff;
    width: 55.53px;
    margin-bottom: 10px;
    margin-left: 1.75%;
}

main select {
    display: inline-block;
    width: 204px;
    height: 36px;
    font-family: 'Montserrat', sans-serif;
    color: #37454d;
    margin-bottom: 10px;
}

main input {
    display: inline-block;
    width: 400px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #37454d;
    margin-bottom: 10px;
}

main button {
    background-color: #535c68;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 30px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 2%;
    float: right;
}

main button:hover {
    background: #30336b;
}

main section table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    text-align: center;
    background-color: #ffffff;
}

main section table tr td {
    max-width: 35px;
    vertical-align: middle;
    color: #37454d;
    height: 60px;
    border-top: 1px solid #30336b;
}

main section table tr td, th {
    padding: 8px;
    line-height: 15px;
}

main section table tr th {
    background-color: #30336b;
    color: #ffffff;
    height: 35px;
    vertical-align: middle;
    font-weight: bold;
}

main section table tr td i {
    margin-left: 7%;
    margin-right: 7%;
    color: #37454d;
    cursor: pointer;
}

.fa-edit {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f044";
}

.noneDisplay {
    display: none;
}

.visibilityVisible {
    visibility: visible;
}

.ocultar{
    display: none;
}

.desactivar {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

/* Fin: estilos del main */
