* {
    box-sizing: border-box;
}

html {
    font-family: Montserrat;
}

h4 {
    font-size: 21px;
    font-weight: bold;
}

h5 {
    font-size: 19px;
    font-weight: bold;
}

h6 {
    font-size: 15px;
    font-weight: bold;
}

p {
    font-size: 13px;
    line-height: 20px;
}

.header-principal {
    background: #379683;
    padding: 15px;
    width: 100%;
    /Se hace position fixed para que siempre este en la misma posicion de la pantalla aunque haga scroll/ position: fixed;
    top: 0;
}

.nav-contenedor {
    display: flex;
}

#logo {
    max-width: 30px;
    max-height: 30px;
}

.header-principal {
    width: 100%;
    left: 0;
    right: 0;
}

.header-principal nav a {
    color: #EDF5E1;
    text-decoration: none;
    margin-right: 30px;
    padding-left: 40px;
    margin-top: 10px;
}

.header-principal nav a:hover {
    color: #05386B;
}

.cerrarSesion {
    margin-left: auto;
}


/*Inicio de estilos del footer*/

.footerCopyRedes {
    width: 100%;
    background: #8EE4AF;
    border-top: 3px solid #8EE4AF;
    color: #05386B;
    display: flex;
    flex-wrap: wrap;
}

.mainCopyRedes {
    width: 98%;
    max-width: 1366;
    padding: 15px 0px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.mainCopyRedes .footerCopy {
    width: 30%;
    font-size: 15px;
}

.mainCopyRedes .footerCopy2 {
    width: 30%;
    font-size: 15px;
}

.mainCopyRedes .footerRedes {
    width: 20%;
}

.mainCopyRedes .footerRedes a {
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background: #379683;
    color: #EDF5E1;
    text-align: center;
    margin: 10px;
}

.mainCopyRedes .footerRedes .facebook:hover {
    background: #3742fa;
}

.mainCopyRedes .footerRedes .twitter:hover {
    background: #1e90ff;
}

.mainCopyRedes .footerRedes .instagram:hover {
    background: linear-gradient(to top, #fed330, #EE5A24, #EA2027, #8e44ad)
}

.ocultar {
    display: none;
}

.desactivar {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}


/*Pantallas parecidas*/


/*Agregar espaciado entre menu y contenido*/

.main-content {
    padding-top: 45px;
}


/*Para validaciones*/

.error-input {
    border: 2px solid rgb(228, 20, 20);
}