main section div {
    text-align: center;
}

main section h1 {
    font-size: 36px;
    margin-bottom: 35px;
    text-align: center;
    color: #05386B;
}

.pageInfo .mainImage {
    margin-top: 50px;
    background-image: url('../imgs/pexels-snapwire-46024.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 100%;
    float: flex;
}

.pageInfo .infoGeneral {
    display: flow-root;
    width: 100%;
    float: flex;
}

.pageInfo .infoGeneral {
    padding: 20px 20px;
}

.pageInfo .infoGeneral h2 {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

.pageInfo .infoGeneral p {
    text-align: left;
    font-size: 20px;
    line-height: 27px;
}

.btnRegistrarme {
    height: 75px;
    width: 200px;
    font-weight: bold;
    background-color: #379683;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btnRegistrarme:hover {
    background-color: #05386B;
    color: white;
}

.Servicios .botones img {
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    background: #ffffff;
    background-position: center;
    border: 4px black solid;
    float: flex;
    margin-bottom: 25px;
}

.Servicios .botones .btn1:hover {
    opacity: 0.3;
}

.Servicios .botones .btn2:hover {
    opacity: 0.3;
}

.Servicios .botones .btn3:hover {
    opacity: 0.3;
}

.Servicios .botones .btn4:hover {
    opacity: 0.3;
}

.Servicios .botones .btn5:hover {
    opacity: 0.3;
}

.opinions {
    background-size: auto;
    width: 100%;
    float: flex;
}

.info {
    float: center;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 25px;
    color: #ffffff;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    min-height: 600px;
    vertical-align: middle;
}

#btnBuscar {
    background: #05386B;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 30px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 5px;
}

#btnRegistrarme {
    background: #8EE4AF;
    color: #05386B;
    font-size: 16px;
    padding: 8px 30px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 5px;
    margin-bottom: 35px;
}

#MainTable {
    padding-top: 2%;
    padding-left: 20%;
    float: flex;
}

#table-proveedores td {
    border: #05386B 2px solid;
    font-size: 18px;
    background-color: #ffffff;
}

#table-proveedores tr {
    border: #05386B 2px solid;
    color: #05386B;
    background-color: #ffffff;
}

#table-proveedores th {
    padding: 5px;
    border: #05386B 2px solid;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    background-color: #05386B;
}