html {
    font-family: Montserrat;
    /*font-size: 16px;*/
}

body {
    background-image: url(https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}

.errorInput {
    border: 4px solid #e9201d;
}


/* Inicio: estilos del main */

.InicioSesion {
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
}

main section h1 {
    font-size: 36px;
    margin-top: 165px;
    margin-bottom: 55px;
    text-align: center;
    color: #05386B;
}

main section div {
    text-align: center;
}


/* Fin: estilos del main */


/* Inicio: estilos del form */

form {
    width: 555px;
    height: 335px;
    float: center;
    margin: 0 auto;
    background: rgba(5, 56, 107, 80%);
    border-top: rgba(5, 56, 107, 80%);
    border-radius: 20px;
    padding: 25px;
    color: #fff;
    margin-top: 5%;
    margin-bottom: 11%;
    text-align: center;
}

form label {
    width: 130px;
    color: #fff;
    display: inline-block;
    margin-bottom: 4.93%;
}

form input {
    display: inline-block;
    width: 250px;
    height: 30px;
    background: #ffffff;
    outline: none;
    border: none;
    border-bottom: 2px solid #5CDB95;
    margin-bottom: 4.93%;
}

form button {
    background: #5CDB95;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    font-family: 'Montserrat', sans-serif;
    border: 5px;
    border-radius: 5px;
    margin-top: 40px;
}

form a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

#sct {
    margin-top: 45px;
}

form button:hover {
    background: #379683
}


/* Fin: estilos del form */