body {
    background: url(https://images.pexels.com/photos/7210732/pexels-photo-7210732.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: 100% 130%;
}

.main-content {
    margin-top: 10%;
    padding-bottom: 9%;
}

form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 20px 10px;
    background: rgba(5, 56, 107, 90%)/*color del cudaro del form*/
}

form {
    display: flow-root;
    width: 50%;
    margin: 20px 20px;
    margin-left: 18%;
}

.Lista-container {
    background-color: rgb(237, 245, 225);
    height: 300px;
    text-align: center;
    overflow-y: scroll;
}

.Lista-container>h3 {
    padding: 10px;
    background-color: rgba(5, 56, 107, 90%);
    font-weight: bold;
    color: rgb(237, 245, 225);
}

th {
    font-weight: bold;
    color: rgb(237, 245, 225);
    background-color: rgba(5, 56, 107, 60%);
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    width: 10%;
    text-align: center;
}

#btnEditar {
    font-size: 15px;
    padding: 7.5px 30px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

#btnDesabilitar {
    font-size: 15px;
    padding: 7.5px 30px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

button:hover {
    background-color: #379683;
    /*cambia color de botones cuando pasa el mause*/
}

.footerCopyRedes {
    bottom: 100vh;
}