body {
    background: url(https://images.pexels.com/photos/1419923/pexels-photo-1419923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    font-family: 'Montserrat';
}

.main-content {
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 10%;
    padding-bottom: 9%;
}

#filtrar-name {
    position: relative;
    background-color: rgba(5, 56, 107, 20%);
    width: 100%;
}

.Lista-container {
    background-color: rgb(237, 245, 225);
    border: 10px;
    width: 90%;
    margin-bottom: 30px;
    text-align: center;
    overflow-y: scroll;
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

thead tr th {
    position: sticky;
    top: 36px;
    z-index: 10;
    font-family: 'Montserrat';
}

.Lista-container>h3 {
    padding: 10px;
    background-color: rgba(5, 56, 107, 100%);
    font-weight: bold;
    color: rgb(237, 245, 225);
    position: sticky;
    top: 0px;
    z-index: 10;
    border-bottom: 1px solid black;
}

th {
    font-weight: bold;
    color: rgb(237, 245, 225);
    background-color: rgba(5, 56, 107, 100%);
}

table {
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 5px 15px;
    width: 30%;
    font-family: 'Montserrat';
    text-align: center;
}

.footerCopyRedes {
    bottom: 100vh;
}

.agregar th {
    width: 1200px
}

th a input {
    background-color: rgba(5, 56, 107, 90%);
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.aceptar {
    background-color: rgba(55, 220, 131, 60%);
}

.rechazar {
    background-color: rgba(250, 0, 0, 60%);
}

button:hover {
    background-color: #379683;
    /*cambia color de botones cuando pasa el mause*/
}

#btnEditar {
    font-size: 15px;
    padding: 7.5px 30px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 10px;
}