body {
    background-image: url('../imgs/pexels-pixabay-416160.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.contenedor-perfil {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 40%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 22%;
    background-color: rgba(5, 56, 107, 90%);
    border-radius: 20px;
}

#titulo {
    font-weight: bolder;
    font-size: 30px;
    color: rgb(237, 245, 225);
    padding: 10px;
    margin-left: 35.9%;
}

.contenedor-perfil .firstSection .DatosGenerales {
    padding-top: 3%;
    padding-bottom: 3%;
    color: rgb(237, 245, 225);
    margin-left: 45%;
}

.contenedor-perfil .firstSection .DatosGenerales>h3 {
    font-weight: bold;
}

.contenedor-perfil .firstSection>img {
    height: 30%;
    width: 30%;
    border-radius: 30px;
    border: 10px solid rgba(237, 245, 225, 20%);
    margin-bottom: 2%;
    margin-left: 10%;
    float: left;
    position: relative;
}

.submenu {
    display: flex;
    justify-content: space-around;
    padding-right: 5%;
    margin-bottom: 5px;
    height: 30px;
    flex-grow: inherit;
}

.submenu>a>input {
    border-radius: 10px;
    border: none;
    text-decoration: none;
    font-weight: lighter;
    color: rgb(237, 245, 225);
    background-color: rgba(92, 219, 149, 40%);
    padding: 7px;
    margin-right: auto;
}

.submenu>a>input:hover {
    background-color: rgba(237, 245, 225, 20%);
    padding: 8px;
}

#fecha-nacimiento {
    margin-left: 23%;
}

.info-personal {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3%;
    color: rgb(237, 245, 225);
    background-color: rgba(237, 245, 225, 10%);
    height: 80px;
}

.info-personal>div>h3 {
    font-weight: bold;
}

.info-personal>div>p {
    font-size: small;
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.info-personal>div>h3,
p {
    margin-top: 6px;
    margin-bottom: 6px;
}

.direccion-position {
    margin-left: 30%;
}

.caja-comentarios {
    font-family: inherit;
    margin: 0px;
    padding: 0px;
    height: 155px;
    width: 100%;
    color: rgb(237, 245, 225);
}

.caja-comentarios h3 {
    font-weight: bold;
}

.comentarios-text {
    width: 74.8%;
    padding: 0px;
    margin: 0%;
    border-bottom-left-radius: 360px;
    background-color: rgba(255, 255, 255, 40%);
    color: rgb(237, 245, 225);
    height: 30px;
    border: none;
    text-align: end;
}

.comentarios-boton {
    background-color: rgba(237, 245, 225, 40%);
    color: rgb(237, 245, 225);
    font-weight: bold;
    border: none;
    border-bottom-right-radius: 360px;
    height: 30px;
    width: 24.6%;
}

.comentarios-boton:hover {
    background-color: rgba(237, 245, 225, 20%);
}

tbody tr {
    background-color: rgba(237, 245, 225, 20%);
    border-bottom: 1px solid rgb(237, 245, 225);
}

.checked {
    color: orange;
}