* {
    box-sizing: border-box;
}

main section h1 {
    font-size: 25px;
    margin-bottom: 3px;
    text-align: center;
    color: #05386B;
}

main section h2 {
    font-size: 20px;
    color: #05386B;
}

main section p {
    font-size: 16px;
    margin-bottom: 3px;
    color: black;
}

body {
    margin: 0;
    background-color: rgba(5, 56, 107, 70%);
    font-family: sans-serif;
}

.container {
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
}

.button {
    background-color: #05386B;
    border: none;
    padding: 15px 40px;
    border-radius: 20px;
    cursor: pointer;
}


/* Style For Navigation */

.nav {
    height: 50px;
    line-height: 50px;
    background-color: white;
    border-bottom: solid 2px #60a2ff;
}

.nav h1 {
    color: #272727;
    font-size: 18px;
}


/* Style For Content */

.content {
    width: 100%;
    height: 100%;
}

.checked {
    color: orange;
}


/* Style For Profile Section */

.profile-section {
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
    padding-top: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.8)), url("../imgs/pexels-leah-kelley-193035.jpg");
    background-size: cover;
    background-position: top;
}

.profile-section .buttonNotificacion {
    background: #8EE4AF;
    color: #05386B;
    font-size: 16px;
    padding: 8px 30px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 5px;
    margin-bottom: 35px;
}

.profile-section .buttonNotificacion:hover {
    background-color: white;
    color: #4c99b8;
    transition: all 0.3s;
}

.profile-section .buttonHistorial {
    background: #8EE4AF;
    color: #05386B;
    font-size: 16px;
    padding: 8px 30px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 5px;
    margin-bottom: 35px;
}

.profile-section .buttonHistorial:hover {
    background-color: white;
    color: #4c99b8;
    transition: all 0.3s;
}

.profile-photo {
    width: 50%;
    height: 24%;
    border: solid 3px white;
    border-radius: 50%;
}

.profile-name {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.profile-detail {
    color: #fff;
    font-size: 14px;
    line-height: 25px;
}

.profile-follow {
    background-color: #39b85d;
    color: white;
    transition: all 0.3s;
    font-size: 15px;
}


/* Style For Detail Section */

.detail-section {
    float: left;
    width: 75%;
    padding-top: 30px;
}


/* Card Style */

.card {
    background-color: rgba(237, 245, 225, 50%);
    line-height: 25px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.card-title {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #2d2d2d;
    border-bottom: solid 2px #dbdbdb;
}

.card-body {
    padding-top: 15px;
    padding-bottom: 15px;
}