html {
    font-family: Montserrat;
    /*font-size: 16px;*/
}

.errorInput {
    border: 4px solid #e9201d;
}

body {
    background-image: url(https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-repeat: no-repeat;
}


/* Inicio: estilos del main */

main section h1 {
    font-size: 36px;
    margin-top: 55px;
    margin-bottom: 55px;
    text-align: center;
    color: #05386B;
}

main section div {
    text-align: center
}


/* Fin: estilos del main */

h1 {
    font-size: 36px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-top: 165px;
    margin-bottom: 55px;
    text-align: center;
    color: #05386B
}

input {
    border-radius: 5px;
    text-emphasis-color: black;
}

p {
    font-size: 10px;
}


/* Inicio: estilos del form */

form {
    width: 555px;
    height: 335px;
    float: center;
    margin: 0 auto;
    background: rgba(5, 56, 107, 80%);
    border-top: rgba(5, 56, 107, 80%);
    border-radius: 20px;
    padding: 25px;
    color: #fff;
    margin-top: 5%;
    margin-bottom: 11%;
    text-align: center;
}

form label {
    width: 100%;
    color: white;
    display: inline-block;
    margin-bottom: 20px;
}

form input {
    display: inline-block;
    width: 250px;
    height: 30px;
    background: white;
    outline: none;
    border: none;
    border-bottom: 2px solid #5CDB95;
    margin-bottom: 4.93%;
}

form button {
    background: #5CDB95;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    font-family: 'Montserrat', sans-serif;
    border: 5px;
    border-radius: 5px;
    margin-top: 40px;
}

form a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

#sct {
    margin-top: 45px;
}

form button:hover {
    background: #379683
}

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}


/* Fin: estilos del form */