html {
    font-family: 'Montserrat', sans-serif;
    /*font-size: 18px;*/
}

.errorInput {
    border: 2px solid #EE5A24;
}

.errorInputCaptcha {
    border: 2px solid #EE5A24;
    height: 81px;
}


/* Inicio: estilos del main */

main {
    background-size: cover;
    padding: 40px 180px;
    height: -200px;
    background-color: #379683;
    /*background-color: rgba(0, 98, 102,0.1);*/
    /*background-image: url("../imgs/registrarLineaPalmeras.jpg");*/
}

form {
    box-shadow: #EDF5E1;
    border-radius: 15px;
    padding: 40px 50px;
    background: #EDF5E1;
}

main h1 {
    font-size: 40px;
    margin-bottom: 50px;
    color: #05386B;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: #379683 solid;
}

#cliente1 {
    float: left;
    width: 40%;
    margin-left: 40px;
    margin-right: 40px;
    padding-right: 40px;
    margin-bottom: 60px;
    /*border-right: black solid 1px;*/
}

#sctFoto {
    padding: 20px;
    width: 260px;
    display: inline-block;
    border-radius: 15px;
    margin-left: 6px;
}

#cliente3 {
    display: flex;
}

#txtFotoCliente {
    width: 320px;
    height: 320px;
    margin-left: 15px;
    border: solid 2px #05386B;
}

input {
    color: black;
    background: #05386B(0, 0, 0, 0.377);
}

.cliente1 .sub-cliente1 label {
    width: 200px;
    display: inline-block;
    color: #05386B;
    font-size: 18px;
}

.cliente1 .sub-cliente2 label {
    width: 200px;
    display: inline-block;
    color: #05386B;
    font-size: 18px;
}

.cliente1 .sub-cliente2 .buttons {
    display: flex;
    width: 200px;
    font-size: 18px;
    padding: 15px;
}

form div {
    margin-bottom: 20px;
}

form input {
    display: inline-block;
    width: 200px;
    height: 25px;
    font-family: 'Montserrat', sans-serif;
}

input[type="date"] {
    color: #05386B;
}

select {
    display: inline-block;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    background: #05386B(0, 0, 0, 0.377);
    color: black;
    outline: none;
    border: none;
    border-bottom: 2px solid #05386B;
}

form textarea {
    display: inline-block;
    vertical-align: top;
    width: 200px;
}

button {
    background-color: #5CDB95;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    background-color: #379683;
}

#btnSubirFotoCliente {
    font-size: 20px;
    padding: 7.5px 30px;
    margin-top: 15px;
    margin-left: 48px;
}

#btnRegistrarCliente {
    font-size: 25px;
    padding: 12.5px 37.5px;
    margin: auto;
    display: block;
    clear: both;
}

input[type="radio"]:checked+label {
    font-weight: bold;
}


/*Para que no salga una opcion de select*/

select:required:invalid {
    color: gray;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}


/********/

#captcha {
    margin-top: 40px;
    margin-left: 5px;
    max-height: 76px;
}