            * {
                font-family: inherit;
            }
            
            body {
                background-color: rgba(5, 56, 107, 70%);
            }
            
            .main-content {
                display: flex;
                margin-top: auto;
                height: 100vh;
            }
            
            .img-background {
                image-rendering: auto;
                height: 100%;
                padding-right: 100px;
            }
            
            .tarjeta-container {
                background-color: rgb(55, 150, 131);
                margin-top: 27vh;
                margin-left: -20vh;
                display: flex;
                flex-direction: column;
                width: 40vh;
                padding: 25px;
                border-radius: 5%;
            }
            
            .titulo-tar {
                font-weight: bold;
                color: rgb(237, 245, 225);
                margin-left: 23%;
            }
            
            .tar-fecha-titulo {
                font-size: small;
                font-weight: bold;
                color: rgb(5, 56, 107);
                margin-top: 10px;
                margin-left: 20%;
            }
            
            .tar-botton {
                color: rgb(237, 245, 225);
                font-weight: bold;
                background-color: rgb(5, 56, 107);
                border-radius: 20px;
            }
            
            .tar-botton:hover {
                background-color: rgb(3, 37, 71);
            }
            
            .tipo-tar {
                font-size: small;
                font-weight: bold;
                margin-top: 5px;
                margin-left: 1%;
            }
            
            .tarjeta-container>input {
                border: 1px solid rgb(142, 228, 175);
                margin: 5px;
                height: 25px;
                width: 250px;
            }
            
            .required {
                background-color: rgb(225, 171, 171);
                font-weight: bold;
            }