html{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.errorInput {
    border: 2px solid #EE5A24;
}



.errorInputCaptcha {
    border: 2px solid #EE5A24;
    height: 81px;
}





/* Inicio: estilos del header */
header{
    background: #263137;
    height: 64px;  
}
    
header img{
    width: 54px;
    height: 54px;
    margin-top: 5px;
    margin-left: 3px;
    float: left;
    border-radius: 50%;
}

#lblUsuario {
    color : #fff;
    margin-top: 2%;
    margin-left: 5px;
    font: inherit;
    z-index: 1;
    position: absolute;
    text-decoration: none;
}

.nav {
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: #37454d;
    font-family: 'Montserrat', sans-serif;
    transition: all .5s ease;
    right: -220px;
}
    
.nav__item {
    display: block;
    width: 100%;
    line-height: 3.9;
    text-align: center;
    color: #fff;
    text-decoration: none;  
}

.nav__item:hover{
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}
    
.menu-toogle {
    position: absolute;
    width: 35px;
    line-height: 1.2;
    text-align: center;
    top: 20px; 
    left: 1306px;
    transition: all .5s ease;    
}
    
.menu-toogle::before {     
    content: "☰";
    font: inherit;
    color: #fff;  
}
     
.checkbox {
    display: none;
}
    
.checkbox:checked ~ .nav {
    right: 0px; 
    position: fixed;  
}
    
.checkbox:checked ~ .main-w { 
    margin-left: 200px;  
}
    
.checkbox:checked ~ .menu-toogle {  
    left: 1114px;
    position: fixed;  
}

.ocultar {
    display: none;
}

/* Fin: estilos del header */


/* Inicio: estilos del main */
main {    
    background-size: cover;
    padding: 40px 180px;
    height: -200px;
    background-color: #dfe6e9;   
    /*background-color: rgba(0, 98, 102,0.1);*/
    /*background-image: url("../imgs/registrarLineaPalmeras.jpg");*/
}

form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 40px 50px;
    background: rgba(0, 0, 0, 0.664)
}

main h1 {
    font-size: 40px;
    margin-bottom: 50px;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: #009432 solid;
}

#cliente1 {
    float: left;
    margin-left: 40px;
    margin-right: 40px;
    padding-right: 40px;
    margin-bottom: 60px;
    border-right: #dfe4ea solid 1px;
}


#sctFoto {
    padding: 20px;
    width: 260px;
    background: #009432;
    display: inline-block;
    border-radius: 15px;
    margin-left: 6px;
}

#cliente3 {
    display: inline-block;
}

#txtFotoCliente {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-left: 15px;
    border: solid 5px #009432;
}

input {
    border-radius: 8px;
    color: white;
    background: rgba(0, 0, 0, 0.377);
    border-bottom: 2px solid #918f92;
}

textarea {
    border-radius: 4px;
    overflow-y: auto;
    vertical-align: top;
    font-family: 'Montserrat', sans-serif;
    background: rgba(0, 0, 0, 0.377);
    color: #ffffff;
    border: none;
    border-bottom: 2px solid #918f92;
}

form label{
    width: 200px;
    display: inline-block;
    color: white;
}
form div {
    margin-bottom:20px;
}
form input {
    display: inline-block;
    width: 200px;
    height: 25px;
    font-family: 'Montserrat', sans-serif;
}


input[type="date"] {
    color: white;
}

select {
    display: inline-block;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    background: rgba(0, 0, 0, 0.377);
    color: #ffffff;
    outline: none;
    border: none;
    border-bottom: 2px solid #918f92;
}

form textarea{
    display: inline-block;
    vertical-align: top;
    width: 200px;
}

button {
    background-color: #016b25;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}


button:hover {
    background-color: #A3CB38;
}

#btnSubirFotoCliente {
    font-size: 20px;
    padding: 7.5px 30px;
    margin-top: 15px;
    margin-left: 48px;
}


#btnRegistrarCliente {
    font-size: 25px;
    padding: 12.5px 37.5px;
    margin: auto;
    display: block;
    clear: both;
}

/*Para que no salga una opcion de select*/
select:required:invalid {
    color: gray;
}
option[value=""][disabled] {
    display: none;
}
option {
    color: black;
}
/********/

#captcha {
    margin-top: 40px;
    margin-left: 5px;
    max-height: 76px;
}
