/*podria ponerle 540 que es el maximo donde todos los elementos de menu se ven en una linea*/

@media (max-width:480px) {
    /*Oculta todos los elementos del menú menos el primero*/
    .header-principal a:not(:first-child) {
        display: none;
    }
    /*Muestra el icono que va a servir como menú desplegable. */
    .header-principal a.icono-menu {
        position: fixed;
        right: 0px;
        /*top 15 porque es el padding general que estan usando los otros elementos dentro de la barra de navegacion*/
        top: 15px;
        display: block;
    }
    /*Ahora vamos a crear estilos para mostrar los demás elementos del menú cuando está en pantallas pequeñas*/
    .header-principal.responsive .icon {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .header-principal.responsive a {
        float: none;
        display: block;
        text-align: left;
        margin-bottom: 7px;
    }
    .footerCopy {
        display: none;
    }
    .footerCopy2 {
        display: none;
    }
    .footerRedes {
        width: 100%;
    }
    .slider {
        display: none;
    }
    .landingBody {
        display: none;
    }
    .responsivePage {
        display: flex;
    }
    #MainTable {
        padding-top: 2%;
        padding-left: 1%;
        float: flex;
    }
    #tbl-proveedores td {
        border: #05386B 2px solid;
        font-size: 7px;
        background-color: #ffffff;
    }
    #tbl-proveedores th {
        padding: 2px;
        border: #05386B 2px solid;
        font-size: 10px;
        color: #ffffff;
        font-weight: bold;
        background-color: #05386B;
    }
    @media (max-width:480px) {
        /*Seccion Banner*/
        #sct-banner h1 {
            font-size: 25px;
        }
        /*Seccion Servicios*/
        .sct-servicios div {
            float: none;
            width: 100%;
        }
        .sct-servicios .info h2 {
            font-size: 17px;
        }
    }
}