        * {
            font-family: inherit;
        }
        
        body {
            background-image: url(https://images.pexels.com/photos/1125028/pexels-photo-1125028.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .form-container {
            display: flex;
            flex-direction: column;
            background-color: rgba(5, 56, 107, 90%);
            width: 47%;
            border-radius: 10px;
            margin-top: 5%;
            margin-left: 5%;
            height: 72vh;
            padding: 15px;
        }
        
        .map {
            margin-top: 5px;
            height: 21vh;
        }
        
        .form-titulo,
        .subtitulo-form {
            color: rgb(237, 245, 225);
            font-weight: bold;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        
        label {
            color: rgb(237, 245, 225);
            font-size: small;
        }
        
        #id-num {
            width: 30%;
        }
        
        #registroCliente {
            color: rgb(237, 245, 225);
            font-weight: bold;
            font-size: small;
            text-decoration: none;
            margin-top: 1%;
        }
        
        #registroCliente:hover {
            text-decoration: underline;
        }
        
        .text-area {
            font-family: inherit;
            height: inherit;
            width: inherit;
        }
        
        .id-text {
            margin-bottom: 9px;
        }
        
        .hojaDelincuencia {
            padding: 4px;
            font-weight: bold;
            background-color: rgb(55, 150, 131);
            border-radius: 10px;
        }
        
        .hojaDelincuencia:hover {
            padding: 5px;
            background-color: rgba(237, 245, 225, 30%);
        }
        
        .location-container {
            margin-top: 2%;
        }
        
        .location-container>h5 {
            color: rgb(237, 245, 225);
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        #botton-crear {
            padding: 10px;
            font-weight: bold;
            background-color: rgb(55, 150, 131);
            border-radius: 10px;
            margin-top: -100%;
            margin-left: 84%;
            color: rgb(237, 245, 225);
            font-weight: bold;
            border: none;
        }
        
        #botton-crear:hover {
            background-color: rgba(237, 245, 225, 30%);
            padding: 9px;
        }